# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
site-packages/

# Virtual environments
.venv/
venv/
env/

# Environment
.env
.env.*

# Testing
.pytest_cache/
.coverage
htmlcov/

# MyPy
.mypy_cache/

# Ruff / Linting
.ruff_cache/

# IDE
.idea/
.vscode/
